<h1>All Users</h1>
<ul class="main-container">
        <% @user.each do |user| %>
    <li> 
        <div class = "container">
            <div class = "img">
                <img src="<%= user.photo %>">
            </div>
            <div class="main">
                <h2> 
                    <a href="/users/<%= user.id %>"><%= user.name %></a>
                </h2>
            </div>
        </div>
    </li>
    <% end %>
</ul>
